<div class="container">
  <h1>Railszilla</h1>  
  <article class="well">
    A starter implementation of Bugzilla written in Ruby on Rails.
    <br/><br/>
    <div class="alert alert-info">
      As this is a work in progress (despite being the final), the following is implemented:
      <ul>
        <li>
          <a class="getSignup" href="#">Sign up</a> for an account below. Once you have signed up, you will need to activate your account. Sign up, log in, and reset password all occur on this main page.
        </li> 
        <li>
          <%= link_to 'Add', new_bug_path %>
          and
          <%= link_to 'edit / view', bugs_path %>
           bugs above.
        </li>       
        <li>
          On the <%= link_to "Admin Page", "admin" %>, you can set up products, milestones, versions, and components to log bugs against.
        </li>
        <li>
          Search is not yet implemented. 
        </li>
        <li>
          View all bugs on the <%= link_to "All Bugs", bugs_path %> page. By default, only active bugs (status of NEW, ASSIGNED, or REOPENED) are shown.
        </li>
        <li>
          Comment on open bugs. Comments are read-only after creation.
        </li>
      </ul>
    </div>
  </article>
<% if !logged_in? %>
  <div id="userLogin">
    <%= render partial: "users/login" %>
  </div>
  <a class="getSignup" href="#">Sign Up</a>
  or
  <a class="getLogin" href="#">Log In instead</a>
  &nbsp;&nbsp;&nbsp;
  <a class="getReset" href="#">Need to reset your password?</a>
<% end %>
</div>
