<h1><%= name %> List</h1>
<h4>For <%= @product.name %></h4>
<p><%= link_to "Add new #{name}",
                { 
                  :controller => controller.controller_name,
                  :action => "new",
                }
    %>
<% if items.empty? %>
  <p>No <%= name.pluralize(0).downcase %> exist</p>
<% else %>
  <ul>
    <% items.each do |i| %>
      <li><%= i.name %> 
        <%= link_to " [Edit]", 
                    { :controller => controller.controller_name,
                      :action => "edit",
                      :id => i 
                    },  
                    :method => :get
        %>
        <%= link_to "x", 
                    { :controller => controller.controller_name,
                      :action => "destroy",
                      :id => i 
                    },
                    :method => :delete,
                    :confirm => "Are you sure?" 
        %>
      </li>
    <% end %>
  </ul>
<% end %>

<p><%= link_to "Back to products", products_path %></p>
