<%= form_for @bug do |f| %>
  <div class="row">
    <div class="col-md-12 bug-form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="col-md-6 bug-form-group">
    <fieldset class="bug-form-header">
      <legend>Product Information</legend>
        <%= f.label :product %>
        <%= collection_select(:product, :product_id, Product.all, :id, :name, {}, {class: 'form-control product_selector'}) %>

        <%= f.label "Component" %>
        <div id="componentSelect">
          <%= render partial: 'product_common/select',
          locals: {
            subobject: Product.first.components,
            foreign_key: 'component_id'
          } %>
        </div>

        <%= f.label "Milestone" %>
        <div id="milestoneSelect">
          <%= render partial: 'product_common/select',
          locals: {
            subobject: Product.first.milestones,
            foreign_key: 'milestone_id'
          } %>
        </div>

        <%= f.label "Version Found" %>
        <div id="versionFoundSelect">
          <%= render partial: 'product_common/select',
          locals: {
            subobject: Product.first.versions,
            foreign_key: 'version_found_id'
          } %>
        </div>

        <%= f.label "Version Integrated" %>
        <div id="versionIntegratedSelect">
          <%= render partial: 'product_common/select',
          locals: {
            subobject: Product.first.versions,
            foreign_key: 'version_integrated_id'
          } %>
        </div>
    </fieldset>
  </div>
  <div class="col-md-6 bug-form-group">
    <fieldset class="bug-form-header">
      <legend>User Information</legend>

      <% #current_user IS the submitter %>
      <%= f.label :submitter %>
      <% singleUser = [User.find(current_user.id)] %>
      <%= collection_select(:submitter, :user_id, singleUser, :id, :name, {}, {class: 'form-control', name: 'bug[submitter_id'}) %>

      <%= f.label :developer %>
      <%= collection_select(:developer, :user_id, User.all, :id, :name, {}, {class: 'form-control', name: 'bug[developer_id]'}) %>

      <%= f.label :tester %>
      <%= collection_select(:tester, :user_id, User.all, :id, :name, {}, {class: 'form-control', name: 'bug[tester_id'}) %>

    </fieldset>
  </div>

  <div class="row bug-form-clear">
    <div class="col-md-12 bug-form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>
  
  <%= f.submit "Submit Bug", class: 'btn btn-primary' %>

<% end %>