<h1>Bug List - All products</h1>
<div class="col-md-12">
  <table class="table table-responsive table-hover table-striped">
    <thead>
      <tr>
        <th>Bug ID</th>
        <th>Submitted</th>
        <th>Product</th>
        <th>Title</th>
        <th>Submitter</th>
        <th>Assigned To</th>
        <th>Found In</th>
        <th>Milestone</th>
      </tr>
    </thead>

    <tbody>
      <% @bugs.each do |bug| %>
        <tr>
          <td><%= bug.id %></td>
          <td><%= bug.submitted_dt %></td>
          <td><%= bug.product.name %></td>
          <td><%= link_to bug.title, bug_path(bug)%></td>
          <td><%= User.find(bug.submitter_id).name %></td>
          <td><%= User.find(bug.developer_id).name %></td>
          <td><%= Version.find(bug.version_found_id).name %></td>
          <td><%= Milestone.find(bug.milestone_id).name %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>