<h1>Products</h1>
<a href="#">Add a new product</a>
<div class="col-md-12">
  <ul class="list-group">
    <% @products.each do |p| %>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">
          <%=p.name%>
        </h4>
        <div class="">
          <p><%= p.description %></ppp>
        </div>
          <%= link_to "View Bugs", '#' %> 
          <%= link_to "Rename",  edit_product_path(p) %>
          <%= link_to "Remove",  
            product_path(p), :method => :delete %>
        <p class="list-group-item-text">
          <%= link_to product_components_path(p) do %>
            <%=p.components.count%> Components
          <% end %>
          |
          <%= link_to product_versions_path(p) do %>
            <%=p.versions.count%> Versions
          <% end %>
          |
          <%= link_to product_milestones_path(p) do %>
            <%=p.milestones.count%> Milestones
          <% end %>
        </p>
      </li>
    <% end %>
  </ul>
</div>